In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import streamlit as st
import plotly.express as px

# Import Data

In [4]:
raw = pd.read_excel('Top 15 Business School Data.xlsx', sheet_name='By Industry - Median')

In [6]:
mba = raw.copy()

In [15]:
mba.columns = map(str.lower, mba.columns)

In [17]:
mba.columns = mba.columns.str.replace(' ', '_')

In [18]:
mba['estimated_2y_cost']

,estimated_2y_cost,school_median_salary,school_median_signing_bonus,internship_median_monthly_salary,consulting_median_salary,consumer_products,energy_median_salary,finance_median_salary,government_median_salary,manufacturing_median_salary,nonprofit_median_salary,healthcare_median_salary,real_estate_median_salary,technology_median_salary,media_entertainment_median_salary,fintech,legal,link
School,,,,,,,,,,,,,,,,,,
Stanford GSB,239928,156000,26500.000000,6933.000000,165000,157500,123333.333333,175000.000000,105000.0,129750.0,101607.142857,170000.000000,150000.0,140000,160500.0,135000.0,190000.0,https://www.gsb.stanford.edu/sites/default/fil...
Wharton,222540,150000,29458.769231,9200.000000,165000,122500,123333.333333,150000.000000,105000.0,129750.0,89250.000000,140000.000000,120000.0,139345,150000.0,140000.0,190000.0,https://statistics.mbacareers.wharton.upenn.ed...
Kellogg,214394,144000,30000.000000,8296.333333,165000,110000,117500.000000,150000.000000,105000.0,123500.0,120000.000000,130000.000000,130000.0,135000,134625.0,140000.0,190000.0,https://www.kellogg.northwestern.edu/career/em...
Booth,220656,150000,30000.000000,9208.000000,165000,115000,123333.333333,150000.000000,105000.0,129750.0,101607.142857,130000.000000,140000.0,140000,134625.0,135000.0,190000.0,https://www.chicagobooth.edu/employmentreport
Sloan,241692,150000,30000.000000,8296.333333,165000,120000,123333.333333,150000.000000,105000.0,130000.0,122000.000000,131416.666667,130000.0,138000,125000.0,135000.0,190000.0,https://mitsloan.mit.edu/sites/default/files/2...
HBS,226636,150000,30000.000000,8000.000000,165000,112000,123333.333333,150000.000000,100000.0,150000.0,100000.000000,130000.000000,140000.0,140000,140000.0,135000.0,190000.0,https://www.hbs.edu/recruiting/data/Pages/deta...
Haas,212696,140000,31164.000000,7586.000000,160000,110000,140000.000000,150000.000000,105000.0,129750.0,101607.142857,135000.000000,100000.0,140000,134625.0,135000.0,190000.0,https://haas.berkeley.edu/wpcontent/uploads/Fu...
Columbia,224476,150000,30300.000000,8296.333333,160000,135000,123333.333333,149538.461538,110000.0,129750.0,110000.000000,131000.000000,135000.0,140000,130500.0,125000.0,190000.0,https://www8.gsb.columbia.edu/recruiters/sites...
Yale,209504,130000,30000.000000,7384.000000,145000,115000,123333.333333,130000.000000,105000.0,125000.0,75000.000000,120000.000000,130000.0,127000,91000.0,135000.0,190000.0,https://som.yale.edu/sites/default/files/Yale%...
Stern,238502,150000,30000.000000,8296.333333,165000,112000,123333.333333,150000.000000,105000.0,129750.0,101607.142857,125000.000000,130000.0,130000,134625.0,135000.0,190000.0,https://www.stern.nyu.edu/sites/default/files/...
Darden,200544,143000,30000.000000,9000.000000,165000,107500,112500.000000,150000.000000,105000.0,125000.0,95000.000000,131416.666667,130000.0,130000,134625.0,135000.0,190000.0,https://www.darden.virginia.edu/mba/careersupp...
Tuck,226620,150000,30000.000000,9209.000000,165000,130000,123333.333333,150000.000000,105000.0,125000.0,101607.142857,121000.000000,130000.0,130000,160000.0,135000.0,190000.0,https://www.tuck.dartmouth.edu/uploads/content...
Ross,192108,135000,30000.000000,8296.333333,160000,110000,123333.333333,150000.000000,105000.0,129750.0,101607.142857,125000.000000,130000.0,130000,134625.0,135000.0,190000.0,https://michiganross.umich.edu/sites/default/f...
Anderson,209908,125000,25000.000000,8147.000000,150000,110000,123333.333333,139000.000000,105000.0,129750.0,101607.142857,120000.000000,125000.0,130000,120000.0,135000.0,190000.0,https://www.anderson.ucla.edu/documents/areas/...

In [20]:
salary = 137700

In [24]:
taxes = 0
taxes += salary * .0765 if salary <= 137700 else taxes += salary * .0145

SyntaxError: invalid syntax (<ipython-input-24-4ad344784104>, line 2)

In [149]:
def take_home_pay(salary):
    fica_tax = 0
    fed_tax = 0 

    if salary <= 137700:
        fica_tax += salary * .0765
    else:
        fica_tax += salary * .0145 + .062*(137700)

    tax_bracket = [0,9875, 40125, 85525, 163300, 207350,518400, 100000000]
    tax_rates = [.10, .12,.22,.24, .32, .35, .37]
    tax_owed = [0, 987.50, 4617.50, 14605.50, 32271.50, 47367.50, 156235]
    standard_deduction = 12400
    retirement_percentage = .08
    
    taxable_salary = salary - standard_deduction - salary*(retirement_percentage)
    
    for i, (rate, bottom, top) in enumerate(zip(tax_rates, tax_bracket, tax_bracket[1:])):
        if taxable_salary < bottom : continue
        #print(rate, bottom, top, i)
        fed_tax = tax_owed[i] + rate*(taxable_salary - tax_bracket[i])
    salary = salary - fed_tax - fica_tax
    return salary

In [199]:
take_home_pay(110000)

84081.5

In [225]:
class Person:
    def __init__(self, pre_mba_salary, post_mba_salary):
        super().__init__()
        self.pre_mba_salary = pre_mba_salary
        self.post_mba_salary = post_mba_salary
        
    def take_home_pay(salary):
        '''Take salary and '''
        fica_tax = 0
        fed_tax = 0 

        if salary <= 137700:
            fica_tax += salary * .0765
        else:
            fica_tax += salary * .0145 + .062*(137700)

        tax_bracket = [0,9875, 40125, 85525, 163300, 207350,518400, 100000000]
        tax_rates = [.10, .12,.22,.24, .32, .35, .37]
        tax_owed = [0, 987.50, 4617.50, 14605.50, 32271.50, 47367.50, 156235]
        standard_deduction = 12400
        retirement_percentage = .08

        taxable_salary = salary - standard_deduction - salary*(retirement_percentage)

        for i, (rate, bottom, top) in enumerate(zip(tax_rates, tax_bracket, tax_bracket[1:])):
            if taxable_salary < bottom : continue
            fed_tax = tax_owed[i] + rate*(taxable_salary - tax_bracket[i])
        salary = salary - fed_tax - fica_tax
        return salary

In [226]:
def forecast(pre_mba_salary,post_mba_salary ,start_year):
    pre_tax_salaries_pre_mba = [pre_mba_salary]
    iter_pre_tax_salary_pre_mba = pre_mba_salary
    
    post_tax_salaries_pre_mba = [take_home_pay(pre_mba_salary)]
    iter_post_tax_salary_pre_mba = take_home_pay(pre_mba_salary)
    
    pre_tax_salaries_post_mba = [post_mba_salary]
    iter_pre_tax_salary_post_mba = post_mba_salary
    
    post_tax_salaries_post_mba = [take_home_pay(post_mba_salary)]
    iter_post_tax_salary_post_mba = take_home_pay(post_mba_salary)
    
    index = list(range(start_year, start_year+41))
    
    for i in range(1,len(index)):
        iter_pre_tax_salary_pre_mba *= (1+.03)
        pre_tax_salaries_pre_mba.append(iter_pre_tax_salary_pre_mba)
        
        iter_post_tax_salary_pre_mba *= (1+.03)
        post_tax_salaries_pre_mba.append(iter_post_tax_salary_pre_mba)
        
        iter_pre_tax_salary_post_mba *= (1+.03)
        pre_tax_salaries_post_mba.append(iter_pre_tax_salary_post_mba)
        
        iter_post_tax_salary_post_mba *= (1+.03)
        post_tax_salaries_post_mba.append(iter_post_tax_salary_post_mba)
        
    
    df = pd.DataFrame({'Pre MBA Pre-Tax Income': pre_tax_salaries_pre_mba
                      ,'Pre MBA Post-Tax Income': post_tax_salaries_pre_mba
                      ,'Post MBA Pre-Tax Income': pre_tax_salaries_post_mba
                      ,'Post MBA Post-Tax Income': post_tax_salaries_post_mba}, index = index)
        
    return df

In [227]:
dataframe = forecast(95000, 150000, 2022)

In [228]:
dataframe.index.name = 'year'

In [229]:
dataframe

,Pre MBA Pre-Tax Income,Pre MBA Post-Tax Income,Post MBA Pre-Tax Income,Post MBA Post-Tax Income
year,,,,
2022,95000.000000,73770.500000,150000.000000,112184.100000
2023,97850.000000,75983.615000,154500.000000,115549.623000
2024,100785.500000,78263.123450,159135.000000,119016.111690
2025,103809.065000,80611.017154,163909.050000,122586.595041
2026,106923.336950,83029.347668,168826.321500,126264.192892
2027,110131.037059,85520.228098,173891.111145,130052.118679
2028,113434.968170,88085.834941,179107.844479,133953.682239
2029,116838.017215,90728.409989,184481.079814,137972.292706
2030,120343.157732,93450.262289,190015.512208,142111.461487
2031,123953.452464,96253.770158,195715.977574,146374.805332
2032,127672.056038,99141.383262,201587.456902,150766.049492
2033,131502.217719,102115.624760,207635.080609,155289.030977
2034,135447.284250,105179.093503,213864.133027,159947.701906
2035,139510.702778,108334.466308,220280.057018,164746.132963
2036,143696.023861,111584.500297,226888.458728,169688.516952
2037,148006.904577,114932.035306,233695.112490,174779.172461
2038,152447.111714,118379.996366,240705.965865,180022.547635
2039,157020.525066,121931.396257,247927.144841,185423.224064
2040,161731.140818,125589.338144,255364.959186,190985.920785
2041,166583.075042,129357.018289,263025.907962,196715.498409
2042,171580.567294,133237.728837,270916.685200,202616.963361
2043,176727.984312,137234.860702,279044.185756,208695.472262
2044,182029.823842,141351.906523,287415.511329,214956.336430
2045,187490.718557,145592.463719,296037.976669,221405.026523
2046,193115.440114,149960.237631,304919.115969,228047.177319
2047,198908.903317,154459.044760,314066.689448,234888.592638
2048,204876.170417,159092.816102,323488.690132,241935.250417
2049,211022.455529,163865.600585,333193.350836,249193.307930
2050,217353.129195,168781.568603,343189.151361,256669.107168
2051,223873.723071,173845.015661,353484.825901,264369.180383
2052,230589.934763,179060.366131,364089.370678,272300.255794
2053,237507.632806,184432.177115,375012.051799,280469.263468
2054,244632.861790,189965.142428,386262.413353,288883.341372
2055,251971.847644,195664.096701,397850.285753,297549.841613
2056,259531.003073,201534.019602,409785.794326,306476.336862
2057,267316.933165,207580.040190,422079.368156,315670.626967
2058,275336.441160,213807.441396,434741.749200,325140.745776
2059,283596.534395,220221.664638,447784.001676,334894.968150
2060,292104.430427,226828.314577,461217.521727,344941.817194
2061,300867.563340,233633.164014,475054.047379,355290.071710
2062,309893.590240,240642.158935,489305.668800,365948.773861

In [231]:
import numpy_financial as npf

In [235]:
-npf.pmt(0.05/ 12, 120,  87000)

4613.849912899786

In [279]:
def amoritization(loan_amount, term, rate = .05):
    balance = [loan_amount]
    monthly_payment = [0]
    interest = [0]
    principal = [0]
    index = list(range(term+1))
    for i in range(len(index)-1):
        monthly_payment.append(-npf.pmt(rate/ 12, term,  loan_amount))
        #print(rate/12)
        interest.append((rate/12)*(balance[i]))
        principal.append(monthly_payment[i+1] - interest[i+1])
        balance.append(balance[i]- principal[i+1])
            
    df = pd.DataFrame({'Payment Amount':monthly_payment
                      ,'Interest': interest
                      ,'Principal': principal
                      ,'Balance': balance}, index=index)
    return df

In [316]:
loans = amoritization(87000, 60)

In [317]:
loans

    Payment Amount    Interest    Principal       Balance
0         0.000000    0.000000     0.000000  8.700000e+04
1      1641.797327  362.500000  1279.297327  8.572070e+04
2      1641.797327  357.169594  1284.627733  8.443607e+04
3      1641.797327  351.816979  1289.980348  8.314609e+04
4      1641.797327  346.442061  1295.355266  8.185074e+04
..             ...         ...          ...           ...
56     1641.797327   33.780682  1608.016645  6.499347e+03
57     1641.797327   27.080613  1614.716714  4.884630e+03
58     1641.797327   20.352626  1621.444701  3.263186e+03
59     1641.797327   13.596607  1628.200720  1.634985e+03
60     1641.797327    6.812437  1634.984890 -2.926299e-10

[61 rows x 4 columns]

In [318]:
sum(loans['Interest'])

11507.839621737045

In [311]:
dataframe = forecast(95000, 150000, 2022)

In [312]:
dataframe['Out of Pocket Cost'] = 0

In [313]:
dataframe.iloc[1, -1] = -87000

In [319]:
dataframe['Loan Interest (Standard)'] = 0
dataframe.iloc[1, -1] = -sum(loans['Interest'])

2022              NaN
2023     73770.500000
2024     75983.615000
2025     78263.123450
2026     80611.017154
2027     83029.347668
2028     85520.228098
2029     88085.834941
2030     90728.409989
2031     93450.262289
2032     96253.770158
2033     99141.383262
2034    102115.624760
2035    105179.093503
2036    108334.466308
2037    111584.500297
2038    114932.035306
2039    118379.996366
2040    121931.396257
2041    125589.338144
2042    129357.018289
2043    133237.728837
2044    137234.860702
2045    141351.906523
2046    145592.463719
2047    149960.237631
2048    154459.044760
2049    159092.816102
2050    163865.600585
2051    168781.568603
2052    173845.015661
2053    179060.366131
2054    184432.177115
2055    189965.142428
2056    195664.096701
2057    201534.019602
2058    207580.040190
2059    213807.441396
2060    220221.664638
2061    226828.314577
2062    233633.164014
Name: Pre MBA Post-Tax Income, dtype: float64

In [326]:
dataframe['Pre MBA Lifetime Earnings'] = dataframe['Pre MBA Post-Tax Income'].cumsum()
dataframe['Post MBA Lifetime Earnings'] = dataframe['Post MBA Post-Tax Income'].cumsum() - dataframe['Out of Pocket Cost'] - dataframe['Loan Interest (Standard)']

In [328]:
dataframe['Break-Even Point'] = dataframe['Post MBA Lifetime Earnings'] - dataframe['Pre MBA Lifetime Earnings']

In [329]:
dataframe

,Pre MBA Pre-Tax Income,Pre MBA Post-Tax Income,Post MBA Pre-Tax Income,Post MBA Post-Tax Income,Out of Pocket Cost,Loan Interest (Standard),Pre MBA Lifetime Earnings,Post MBA Lifetime Earnings,Break-Even Point
2022,95000.000000,73770.500000,150000.000000,112184.100000,0,0.000000,7.377050e+04,1.121841e+05,3.841360e+04
2023,97850.000000,75983.615000,154500.000000,115549.623000,-87000,-11507.839622,1.497541e+05,3.262416e+05,1.764874e+05
2024,100785.500000,78263.123450,159135.000000,119016.111690,0,0.000000,2.280172e+05,3.467498e+05,1.187326e+05
2025,103809.065000,80611.017154,163909.050000,122586.595041,0,0.000000,3.086283e+05,4.693364e+05,1.607082e+05
2026,106923.336950,83029.347668,168826.321500,126264.192892,0,0.000000,3.916576e+05,5.956006e+05,2.039430e+05
2027,110131.037059,85520.228098,173891.111145,130052.118679,0,0.000000,4.771778e+05,7.256527e+05,2.484749e+05
2028,113434.968170,88085.834941,179107.844479,133953.682239,0,0.000000,5.652637e+05,8.596064e+05,2.943428e+05
2029,116838.017215,90728.409989,184481.079814,137972.292706,0,0.000000,6.559921e+05,9.975787e+05,3.415866e+05
2030,120343.157732,93450.262289,190015.512208,142111.461487,0,0.000000,7.494423e+05,1.139690e+06,3.902478e+05
2031,123953.452464,96253.770158,195715.977574,146374.805332,0,0.000000,8.456961e+05,1.286065e+06,4.403689e+05
2032,127672.056038,99141.383262,201587.456902,150766.049492,0,0.000000,9.448375e+05,1.436831e+06,4.919935e+05
2033,131502.217719,102115.624760,207635.080609,155289.030977,0,0.000000,1.046953e+06,1.592120e+06,5.451669e+05
2034,135447.284250,105179.093503,213864.133027,159947.701906,0,0.000000,1.152132e+06,1.752068e+06,5.999356e+05
2035,139510.702778,108334.466308,220280.057018,164746.132963,0,0.000000,1.260467e+06,1.916814e+06,6.563472e+05
2036,143696.023861,111584.500297,226888.458728,169688.516952,0,0.000000,1.372051e+06,2.086502e+06,7.144512e+05
2037,148006.904577,114932.035306,233695.112490,174779.172461,0,0.000000,1.486983e+06,2.261282e+06,7.742984e+05
2038,152447.111714,118379.996366,240705.965865,180022.547635,0,0.000000,1.605363e+06,2.441304e+06,8.359409e+05
2039,157020.525066,121931.396257,247927.144841,185423.224064,0,0.000000,1.727295e+06,2.626727e+06,8.994328e+05
2040,161731.140818,125589.338144,255364.959186,190985.920785,0,0.000000,1.852884e+06,2.817713e+06,9.648293e+05
2041,166583.075042,129357.018289,263025.907962,196715.498409,0,0.000000,1.982241e+06,3.014429e+06,1.032188e+06
2042,171580.567294,133237.728837,270916.685200,202616.963361,0,0.000000,2.115479e+06,3.217046e+06,1.101567e+06
2043,176727.984312,137234.860702,279044.185756,208695.472262,0,0.000000,2.252714e+06,3.425741e+06,1.173028e+06
2044,182029.823842,141351.906523,287415.511329,214956.336430,0,0.000000,2.394065e+06,3.640698e+06,1.246632e+06
2045,187490.718557,145592.463719,296037.976669,221405.026523,0,0.000000,2.539658e+06,3.862103e+06,1.322445e+06
2046,193115.440114,149960.237631,304919.115969,228047.177319,0,0.000000,2.689618e+06,4.090150e+06,1.400532e+06
2047,198908.903317,154459.044760,314066.689448,234888.592638,0,0.000000,2.844077e+06,4.325038e+06,1.480961e+06
2048,204876.170417,159092.816102,323488.690132,241935.250417,0,0.000000,3.003170e+06,4.566974e+06,1.563804e+06
2049,211022.455529,163865.600585,333193.350836,249193.307930,0,0.000000,3.167036e+06,4.816167e+06,1.649131e+06
2050,217353.129195,168781.568603,343189.151361,256669.107168,0,0.000000,3.335817e+06,5.072836e+06,1.737019e+06
2051,223873.723071,173845.015661,353484.825901,264369.180383,0,0.000000,3.509662e+06,5.337205e+06,1.827543e+06
2052,230589.934763,179060.366131,364089.370678,272300.255794,0,0.000000,3.688723e+06,5.609505e+06,1.920783e+06
2053,237507.632806,184432.177115,375012.051799,280469.263468,0,0.000000,3.873155e+06,5.889975e+06,2.016820e+06
2054,244632.861790,189965.142428,386262.413353,288883.341372,0,0.000000,4.063120e+06,6.178858e+06,2.115738e+06
2055,251971.847644,195664.096701,397850.285753,297549.841613,0,0.000000,4.258784e+06,6.476408e+06,2.217624e+06
2056,259531.003073,201534.019602,409785.794326,306476.336862,0,0.000000,4.460318e+06,6.782884e+06,2.322566e+06
2057,267316.933165,207580.040190,422079.368156,315670.626967,0,0.000000,4.667898e+06,7.098555e+06,2.430657e+06
2058,275336.441160,213807.441396,434741.749200,325140.745776,0,0.000000,4.881705e+06,7.423696e+06,2.541990e+06
2059,283596.534395,220221.664638,447784.001676,334894.968150,0,0.000000,5.101927e+06,7.758591e+06,2.656663e+06
2060,292104.430427,226828.314577,461217.521727,344941.817194,0,0.000000,5.328755e+06,8.103532e+06,2.774777e+06
2061,300867.563340,233633.164014,475054.047379,355290.071710,0,0.000000,5.562389e+06,8.458822e+06,2.896434e+06
2062,309893.590240,240642.158935,489305.668800,365948.773861,0,0.000000,5.803031e+06,8.824771e+06,3.021740e+06

In [301]:
dataframe.iloc[1]

Pre MBA Pre-Tax Income       97850.000
Pre MBA Post-Tax Income      75983.615
Post MBA Pre-Tax Income     154500.000
Post MBA Post-Tax Income    115549.623
Name: 2023, dtype: float64

In [201]:
forecast(95000, 2022)

([95000,
  97850.0,
  100785.5,
  103809.065,
  106923.33695000001,
  110131.03705850002,
  113434.96817025503,
  116838.01721536268,
  120343.15773182356,
  123953.45246377827,
  127672.05603769163,
  131502.2177188224,
  135447.28425038705,
  139510.70277789867,
  143696.02386123562,
  148006.90457707268,
  152447.11171438487,
  157020.52506581642,
  161731.1408177909,
  166583.07504232464,
  171580.5672935944,
  176727.98431240223,
  182029.8238417743,
  187490.71855702755,
  193115.44011373838,
  198908.90331715054,
  204876.17041666506,
  211022.45552916502,
  217353.12919503998,
  223873.72307089117,
  230589.9347630179,
  237507.63280590845,
  244632.8617900857,
  251971.8476437883,
  259531.00307310195,
  267316.933165295,
  275336.44116025383,
  283596.53439506143,
  292104.43042691326,
  300867.56333972065,
  309893.5902399123,
  319190.39794710965],
 [73770.5,
  75983.615,
  78263.12345000001,
  80611.01715350001,
  83029.34766810501,
  85520.22809814816,
  88085.8349410926,
  90728.40998932539,
  93450.26228900516,
  96253.77015767532,
  99141.38326240558,
  102115.62476027774,
  105179.09350308609,
  108334.46630817867,
  111584.50029742403,
  114932.03530634676,
  118379.99636553717,
  121931.39625650329,
  125589.33814419838,
  129357.01828852434,
  133237.72883718007,
  137234.86070229547,
  141351.90652336433,
  145592.46371906527,
  149960.23763063725,
  154459.04475955636,
  159092.81610234306,
  163865.60058541334,
  168781.56860297575,
  173845.01566106503,
  179060.366130897,
  184432.1771148239,
  189965.14242826862,
  195664.09670111668,
  201534.0196021502,
  207580.0401902147,
  213807.44139592114,
  220221.66463779876,
  226828.31457693272,
  233633.1640142407,
  240642.15893466794,
  247861.42370270798])

In [157]:
take_home_pay(190000)

141860.1

In [60]:
10*10

100

In [10]:
mba.set_index('School', inplace=True)

In [12]:
for column in mba.columns[:-1]:
    mba[column] = mba[column].fillna(mba[column].mean())

In [13]:
mba

,Estimated 2Y Cost,School Median Salary,School Median Signing Bonus,Internship Median Monthly Salary,Consulting Median Salary,Consumer Products,Energy Median Salary,Finance Median Salary,Government Median Salary,Manufacturing Median Salary,NonProfit Median Salary,Healthcare Median Salary,Real Estate Median Salary,Technology Median Salary,Media Entertainment Median Salary,FinTech,Legal,Link
School,,,,,,,,,,,,,,,,,,
Stanford GSB,239928,156000,26500.000000,6933.000000,165000,157500,123333.333333,175000.000000,105000.0,129750.0,101607.142857,170000.000000,150000.0,140000,160500.0,135000.0,190000.0,https://www.gsb.stanford.edu/sites/default/fil...
Wharton,222540,150000,29458.769231,9200.000000,165000,122500,123333.333333,150000.000000,105000.0,129750.0,89250.000000,140000.000000,120000.0,139345,150000.0,140000.0,190000.0,https://statistics.mbacareers.wharton.upenn.ed...
Kellogg,214394,144000,30000.000000,8296.333333,165000,110000,117500.000000,150000.000000,105000.0,123500.0,120000.000000,130000.000000,130000.0,135000,134625.0,140000.0,190000.0,https://www.kellogg.northwestern.edu/career/em...
Booth,220656,150000,30000.000000,9208.000000,165000,115000,123333.333333,150000.000000,105000.0,129750.0,101607.142857,130000.000000,140000.0,140000,134625.0,135000.0,190000.0,https://www.chicagobooth.edu/employmentreport
Sloan,241692,150000,30000.000000,8296.333333,165000,120000,123333.333333,150000.000000,105000.0,130000.0,122000.000000,131416.666667,130000.0,138000,125000.0,135000.0,190000.0,https://mitsloan.mit.edu/sites/default/files/2...
HBS,226636,150000,30000.000000,8000.000000,165000,112000,123333.333333,150000.000000,100000.0,150000.0,100000.000000,130000.000000,140000.0,140000,140000.0,135000.0,190000.0,https://www.hbs.edu/recruiting/data/Pages/deta...
Haas,212696,140000,31164.000000,7586.000000,160000,110000,140000.000000,150000.000000,105000.0,129750.0,101607.142857,135000.000000,100000.0,140000,134625.0,135000.0,190000.0,https://haas.berkeley.edu/wpcontent/uploads/Fu...
Columbia,224476,150000,30300.000000,8296.333333,160000,135000,123333.333333,149538.461538,110000.0,129750.0,110000.000000,131000.000000,135000.0,140000,130500.0,125000.0,190000.0,https://www8.gsb.columbia.edu/recruiters/sites...
Yale,209504,130000,30000.000000,7384.000000,145000,115000,123333.333333,130000.000000,105000.0,125000.0,75000.000000,120000.000000,130000.0,127000,91000.0,135000.0,190000.0,https://som.yale.edu/sites/default/files/Yale%...
Stern,238502,150000,30000.000000,8296.333333,165000,112000,123333.333333,150000.000000,105000.0,129750.0,101607.142857,125000.000000,130000.0,130000,134625.0,135000.0,190000.0,https://www.stern.nyu.edu/sites/default/files/...
Darden,200544,143000,30000.000000,9000.000000,165000,107500,112500.000000,150000.000000,105000.0,125000.0,95000.000000,131416.666667,130000.0,130000,134625.0,135000.0,190000.0,https://www.darden.virginia.edu/mba/careersupp...
Tuck,226620,150000,30000.000000,9209.000000,165000,130000,123333.333333,150000.000000,105000.0,125000.0,101607.142857,121000.000000,130000.0,130000,160000.0,135000.0,190000.0,https://www.tuck.dartmouth.edu/uploads/content...
Ross,192108,135000,30000.000000,8296.333333,160000,110000,123333.333333,150000.000000,105000.0,129750.0,101607.142857,125000.000000,130000.0,130000,134625.0,135000.0,190000.0,https://michiganross.umich.edu/sites/default/f...
Anderson,209908,125000,25000.000000,8147.000000,150000,110000,123333.333333,139000.000000,105000.0,129750.0,101607.142857,120000.000000,125000.0,130000,120000.0,135000.0,190000.0,https://www.anderson.ucla.edu/documents/areas/...

,Estimated 2Y Cost,School Median Salary,School Median Signing Bonus,Internship Median Monthly Salary,Consulting Median Salary,Consumer Products,Energy Median Salary,Finance Median Salary,Government Median Salary,Manufacturing Median Salary,NonProfit Median Salary,Healthcare Median Salary,Real Estate Median Salary,Technology Median Salary,Media Entertainment Median Salary,FinTech,Legal,Link
School,,,,,,,,,,,,,,,,,,
Stanford GSB,239928,156000,26500.000000,6933.000000,165000,157500,123333.333333,175000.0,105000.0,129750.0,101607.142857,170000.000000,150000.0,140000,160500.0,135000.0,190000.0,https://www.gsb.stanford.edu/sites/default/fil...
Wharton,222540,150000,29458.769231,9200.000000,165000,122500,123333.333333,150000.0,105000.0,129750.0,89250.000000,140000.000000,120000.0,139345,150000.0,140000.0,190000.0,https://statistics.mbacareers.wharton.upenn.ed...
Kellogg,214394,144000,30000.000000,8296.333333,165000,110000,117500.000000,150000.0,105000.0,123500.0,120000.000000,130000.000000,130000.0,135000,134625.0,140000.0,190000.0,https://www.kellogg.northwestern.edu/career/em...
Booth,220656,150000,30000.000000,9208.000000,165000,115000,123333.333333,150000.0,105000.0,129750.0,101607.142857,130000.000000,140000.0,140000,134625.0,135000.0,190000.0,https://www.chicagobooth.edu/employmentreport
Sloan,241692,150000,30000.000000,8296.333333,165000,120000,123333.333333,150000.0,105000.0,130000.0,122000.000000,131416.666667,130000.0,138000,125000.0,135000.0,190000.0,https://mitsloan.mit.edu/sites/default/files/2...